
div.full-page{
  height: 55rem;
}

.particle-background{
  position: fixed;
  z-index: -5;
}

@font-face {
  font-family: 'Black Ops One';
  src: local('Black Ops One'), url(./fonts/Black_Ops_One/BlackOpsOne-Regular.ttf) format('truetype');
}

.head-position{
  z-index: 10;
  margin-top: 17%;
}


.name-head{
  background-color: #faed27;
  color: rgb(0, 0, 0);
  font-size: 66px;
  font-family: 'Black Ops One', cursive;
  margin-left: 48%;
  margin-top: 300px;
  
}

.second-head{
  font-size: 25px;
  font-family: 'Black Ops One', cursive;
  color: #39FF14;
  margin-left: 77%;
 
}

.title-head{
  margin-top: -4.01%;
}